/* pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    padding-bottom: 2rem;
  }
  .page-item {
    margin: 0 5px;
  }
  .page-link {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
  }
  .page-link:hover {
    background-color: var(--color-footer);
  }
  .page-item.active .page-link {
    background-color: var(--color-blog);
    color: white;
    border-color: var(--color-blog);
  }