.nopage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height */
    text-align: center;
    background: var(--color-bg);
  }
  
  .nopage-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff; /* Change as needed */
  }
  
  .nopage-message {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ccc; /* Change as needed */
  }
  
  .nopage-home-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007BFF; /* Change as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .nopage-home-button:hover {
    background-color: #0056b3; /* Change as needed */
  }
  